<div class='whole' style="background-image: url(<%= animal.image %>);">
  <ul class='animal-list'>
    <li>
      <%= animal.name %>
    </li>
    <li>
      <%= animal.category %>
    </li>
  </ul>
</div>